# Default ignored files
/shelf/
#.idea/workspace.xml

# IntelliJ xml files
.idea
.idea/
.idea/*
.idea/*.xml

# IntelliJ .iml file
/BCTCFall21.iml
/*.iml

# Eclipse-specific project files
/.classpath
/.project
